<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.music.dao.RankMapper" >
  <resultMap id="BaseResultMap" type="com.example.music.domain.Rank" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="song_list_id" property="songListId" jdbcType="BIGINT" />
    <result column="consumer_id" property="consumerId" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, song_list_id, consumer_id, score, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rank
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rank
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.music.domain.Rank" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rank (song_list_id, consumer_id, score, 
      create_time)
    values (#{songListId,jdbcType=BIGINT}, #{consumerId,jdbcType=BIGINT}, #{score,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.music.domain.Rank" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="songListId != null" >
        song_list_id,
      </if>
      <if test="consumerId != null" >
        consumer_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="songListId != null" >
        #{songListId,jdbcType=BIGINT},
      </if>
      <if test="consumerId != null" >
        #{consumerId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.music.domain.Rank" >
    update rank
    <set >
      <if test="songListId != null" >
        song_list_id = #{songListId,jdbcType=BIGINT},
      </if>
      <if test="consumerId != null" >
        consumer_id = #{consumerId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.music.domain.Rank" >
    update rank
    set song_list_id = #{songListId,jdbcType=BIGINT},
      consumer_id = #{consumerId,jdbcType=BIGINT},
      score = #{score,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>